<html>

<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_2.css') }}">

    <!-- <link rel="stylesheet" href="static/style.css"> -->


<body>

<div class="main">
    <div class="dialogue" id="dialogue">
        <div class="dialogue__user-wrapper">
            <h3 class="dialogue__user-title">User</h3>
            <p class="dialogue__user-text">Hi!</p>
        </div>
        <div class="dialogue__phind-wrapper">
            <h3 class="dialogue__phind-title">AGM</h3>
            <p class="dialogue__phind-text">Hello! How can I assist you today?</p>
        </div>
    </div>
    <div class="text_area">
        <textarea class="txta" id="txta" placeholder="Send message"></textarea>
        <button class="ask_button" onclick="getData()">-></button>
    </div>
</div>



<script>


    const url_for_fetch = "{{ url_for('question') }}";

    function getData () {

    var x = document.getElementById("txta").value;

    var div = document.createElement("div");
    div.className = "dialogue__user-wrapper";

    var h3 = document.createElement("h3");
    h3.className = "dialogue__user-title";
    h3.innerText = "User";

    div.appendChild(h3);

    var p = document.createElement("p");
    p.className = "dialogue__user-text";
    p.innerText = x;

    div.appendChild(p);

    document.getElementById("dialogue").appendChild(div);


    var div = document.createElement("div");
    div.className = "dialogue__phind-wrapper";

    var h3 = document.createElement("h3");
    h3.className = "dialogue__phind-title";
    h3.innerText = "AGM";

    div.appendChild(h3);

    var p = document.createElement("p");
    p.className = "dialogue__phind-text";
    // p.innerText = x;

    

    fetch(url_for_fetch, {
        method: "POST",
        body: JSON.stringify({question: x}),
        headers: {"Content-type": "application/json; charset=UTF-8"}
    }).then(response => response.json()).then(data => p.innerHTML += data.answer);

    div.appendChild(p);

    document.getElementById("dialogue").appendChild(div);
    }
</script>


<script>
    const textarea = document.querySelector('textarea');
    textarea.addEventListener("keyup", e => {
        textarea.style.height = "63px";
        let scHeight = e.target.scrollHeight;
        textarea.style.height = `${scHeight}px`;  
    });

</script>

</body>
</html>



